.convenience {
}

.convenience__container {
}

.convenience__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: flex-start;
  gap: 30px;
}
.convenience__item {
  &:hover {
    
  }
}
.convenience__link {
  position: relative;
  background-color: #EAE8EC;
  padding: 30px;
  display: block;
  &:hover .convenience__img{
    transform: scale(1.1);
  }
}
.convenience__img {
  display: block;
  width: 352px;
  width: clamp(280px, 7.405rem + 16.22vw, 352px);
  height: auto;
  object-fit: contain;
  margin: 0 auto 20px;
  transition: transform 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.convenience__info {
  margin-bottom: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px
}
.convenience__price {
  color: #625B6D;
  font-size: 16px;
}

.convenience__title {
  font-size: 20px;
  color: #26202E;
}
.convenience__value {
  color: #AEAAB7;
  font-size: 48px;
  line-height: 1;
}
@media (max-width:1250px) {
  .convenience__list {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:750px) {
  .convenience__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .convenience__link {
    padding: 20px;
  }
.convenience__value {
  font-size: 34px;
}
}