.deciding {
		&__container {
      @media (max-width:1250px) {
        & .col-hidden {
          display: none;
        }
      }
    }
		&__info {}
		&__text {
      margin-bottom: 50px;
      @media (max-width:1250px) {
        margin-bottom: 30px;
      }
    }
}