.dynamics {

		&__container {
		}

		&__inner {
		}

		&__info {
      @media (max-width:1250px) {
        width: 100%;
      }
		}

		&__years {
      display: flex;
      align-items: center;
      gap: 30px;

      a{
        color: #928D9D;
        font-size: 20px;
        transition: all .2s ease;
        &:hover {
          color: rgba(98, 91, 109, 1);
        }
        &.active {
          color: #26202E;
        }
      }
		}

    &-gallery {
      &:hover img{
        transform: scale(1.15);
      }
    }

		&__img {
      position: relative;
      height: 0;
      padding-top: 55%;
      margin-bottom: 30px;
      overflow: visible; // чтобы ::before мог вылезать за пределы блока
      &::before {
        position: absolute;
        width: 70%;
        height: 100%;
        left: -10px;
        top: 20px;
        content: "";
        background-color: #EAE8EC;
        opacity: 0;
        visibility: hidden;
        transition: all .1s ease;
        z-index: 0;
      }
      .dynamics-gallery:hover &::before {
        opacity: 1;
        visibility: visible;
      }
      &-inner {
        position: absolute;
        inset: 0; // дочерний контейнер растягивается на соотношение сторон
        overflow: hidden; // режем только саму картинку
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.9);
          transition: transform 5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }
		}
    &__head {
      color: #26202E;
		}
    &__value {
      color: #AEAAB7;
      font-size: 16px;
    }
}

.dynamics-swiper {
  position: relative;
    margin-right: -1000%;
    padding-right: 1000%;
    overflow: visible;
}

.dynamics-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  @media(max-width:650px) {
    display: none;
  }
}

.dynamics-nav.is-hidden {
  display: none;
}
.dynamics__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 60px;
  @media(max-width:1250px) {
    margin-bottom: 30px;
  }
  @media (max-width:650px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.swip-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  svg path {
    transition: all .2s ease;
  }
  &:hover {
    svg path{
      stroke: #625B6D;
    }
  }
}
.swiper-button-disabled {
  opacity: 0.5;
}