.header {
   background-color: var(--colog-bg);
   &__container {
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      justify-content: space-between;
      max-width: none;
   }

   &__menu {
   }

    &___info {
      display: flex;
      align-items: center;
      gap: 30px;
    }

   &__logo {
      img {
         width: 146px;
         height: auto;
      }
   }

   &__adress {
      display: flex;
      align-items: center;
      gap: 8px;
   }
}
.menu {
   &__icon {
   }
   &__body {
   }
   &__list {
      display: flex;
      align-items: center;
   }
   &__link {
      text-transform: uppercase;
      color: #71816C;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.6px;
      gap: 8px;
      padding: 12px 8px;
      transition: all .2s ease;
      &:hover {
        color: #243506;
      }
   }
}
