
.hero {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  @media  (max-width:650px) {
    padding-bottom: 30px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 140px);
    background-color: var(--color-accent);
    z-index: 0;
  }

  &__decor {
    // display: none;
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 11;
    transform: translateX(-50%);
    @media(min-width:1600px) {
      display: none;
    }
    @media(max-width:1300px) {
      height: auto;
      width: 1400px;
    }
    @media(max-width:996px) {
      height: auto;
      width: 1000px;
    }
  }
  &__decor--big {
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 11;
    transform: translateX(-50%);
    @media(max-width:1600px) {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 12;
  }
  &__container {
    padding-top: 350px;
    padding-top: clamp(140px, -2.049rem + 26.58vw, 350px);
  }
  &__wrapper {
    @media (max-width:1250px) {
      padding-left: 0px;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &__info {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    @media (max-width:796px) {
      flex-direction: column;
      gap: 14px;
      align-items: flex-start;
      margin-bottom: 40px;
    }
    
  }
  &__adress {
    color: #928D9D;
    font-size: 16px;
  }
  &__date {
    color: #928D9D;
    font-size: 16px;
    margin-left: 65px;
    display: block;
    margin-left: clamp(30px, -12.516rem + 18.42vw, 65px);
    @media (max-width:796px) {
      margin: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    color: #EAE8EC;
    gap: 10px;
    transition: color .2s ease;
    svg {
      transform: translateX(0);
      transition: transform .2s ease;
    }
    &:hover {
      color: white;
    }
    &:hover svg{
      transform: translateX(6px);
      path {
        stroke: white;
      }
    }
    @media (max-width:796px) {
      margin: 0;
    }
  }
  &__img {
    position: relative;
    height: 0;
    padding-top: 40%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

