.purchase {

		&__container {
		}

		&__inner {
		}

		&__list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 36px;
		}
    &__title {
      @media (max-width:1250px) {
        width: 100%;
      }
    }

		&__item {
      background-color: #26202E;
      padding: 30px;
      position: relative;
      overflow: hidden;
      min-height: 545px;
      min-height: clamp(380px, 15.265rem + 20.89vw, 545px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      @media (max-width:1250px) {
        padding: 20px;
      }
      &:hover {
        background-image: linear-gradient(rgba(38, 32, 46, 0.8), rgba(38, 32, 46, 0.8)), url("/public/img/purch/1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #26202E;
        & .purchase__text {
          opacity: 1;
          visibility: visible;
        }
        & .purchase__sublink {
          opacity: 1;
          visibility: visible;
        }
        & .purchase__decor {
          display: none;
        }
      }
		}

		&__info {
      position: relative;
      z-index: 2;
		}

		&__head {
      margin-bottom: 10px;
      color: #FFFFFF;
		}

		&__text {
      color: #EAE8EC;
      opacity: 0;
      visibility: hidden;
		}

		&__sublink {
      position: relative;
      z-index: 2;
      color: #AEAAB7;
      display: flex;
      align-items: center;
      gap: 6px;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      width: fit-content;
		}

		&__decor {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
		}
}
@media (max-width:1250px) {
  .purchase__list {
    gap: 20px;
  }
}
@media (max-width:996px) {
  .purchase__list {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-right: -30px;
    margin-left: -30px;
    padding-right: 30px;
    padding-left: 30px;
    width: -webkit-fill-available !important;
  }
  .purchase__item {
    width: 400px;
  }
}
@media (max-width:650px) {
  .purchase__list {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .purchase__item {
    width: 320px;
  }
}