.safety {

		&__container {
      padding-top: 90px;
      padding-bottom: 90px;
      background-color: #26202E;
      position: relative;
      overflow: hidden;
		}
    &__title {
      color: #fff;
    }

		&__info {
      display: flex;
      align-items: flex-start;
      position: relative;
      z-index: 2;
		}

		&__img {
      position: relative;
      height: 0;
      padding-top: 40%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
		}

    &__decor {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }

		&__text {
      p {
        color: #EAE8EC;
        font-size: 20px;
        font-size: clamp(16px, 0.794rem + 0.51vw, 20px);
        &:not(:last-child) {
          margin-bottom: 20px;
        }

      }
		}
}

@media (max-width:1250px) {
  .safety__text {
    width: 50%;
  }
  .safety__info {
    gap: 60px;
    justify-content: flex-start;
  }
  .safety__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width:650px) {
  .safety__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .safety__info {
    flex-direction: column;
    gap: 30px;
  }
  .safety__img,
  .safety__text {
    width: 100%;
  }
  .safety__img {
    padding-top: 80%;
  }
  .safety__decor {
    width: 700px;
    height: auto;
  }
}