:root  {
  --font-display: "ZTC", Georgia, serif;
  --font-body: "Involve", system-ui, -apple-system, sans-serif;
  --font-ui: "Inter", system-ui, -apple-system, sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --colog-bg: #FFFDF4;
  --color-text: #50614A;
  --color-accent: #243506;
  --color-sec-accent: #608819;
  --color-gray: #909194;
}